[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
boto3 = "*"
faiss-cpu = "*"
openpyxl = "*"
fsspec = "*"
s3fs = "*"
pydantic = "*"
pyarrow = "*"
dotenv = "*"
aiohttp = "==3.13.3"

[dev-packages]
pytest = "*"
pre-commit = "*"
moto = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
